{% extends 'BrasserieBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('CSS/actualites.css') }}" type="text/css" />

{% endblock %}



{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}


        {% block content %}

            <div class="container-fluid actuall">
                <div class="row">
                    <div class="actuimg">
                        <h1 class="display-3 actuaccro">"Suivez nos actualités !"</h1>
                    </div>
            {% for actu in actualites %}
                    <div class="col-lg-12 brass">

                     </div>
                    <div class="col-lg-3 col-md-3 col-xs-2">
                        <img class="img-responsive imgactu img-rounded" src="{{ asset('upload/' ~ actu.filename) }}" alt="" />
                     </div>
                    <div class="col-lg-9 col-md-9 col-xs-6">
                        <h2 class="actutitle"> {{ actu.titre }} </h2>
                        <p class="contenuactu"> {{ actu.contenu }} </p>
                    </div>
            {% endfor %}

                </div>
            </div>


        {% endblock %}



    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}