{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('web/css/bieres.css') }}" type="text/css" />
{% endblock %}


{% block body %}

    {% block content %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-xs-12 brass">
                    <h1>La bière du mois</h1>
                    <img src="{{ asset('images/avlambre.jpg') }}" alt="" />
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>

                <div class="col-lg-6 col-xs-12 brass">
                    <h1>Pourquoi est-ce celle du mois</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-6 brass">
                    <img src="{{ asset('images/avlblonde.jpg') }}" alt="" />

                <h2>L'Avallée de la Loire Blonde</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>

                <div class="col-lg-4 col-sm-6 brass">
                    <img src="{{ asset('images/avlambre.jpg') }}" alt="" />
                    <h2>L'Avallée de la Loire Ambrée</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>

                <div class="col-lg-4 col-sm-6 brass">
                    <img src="{{ asset('images/avlblanche.jpg') }}" alt="" />
                    <h2>L'Avallée de la Loire Blanche</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-6 brass">
                    <img src="{{ asset('images/darkside.jpg') }}" alt="" />
                    <h2>The Dark Side of THE Mouss</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>

                <div class="col-lg-4 col-sm-6 brass">
                    <img src="{{ asset('images/hippieale.jpg') }}" alt="" />
                    <h2>Hip Pie Ale</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>

            </div>
        </div>








    {% endblock %}









{% endblock %}