{% extends 'BrasserieBundle::layout.html.twig' %}

{% block head %}
    {{ parent() }}

<link rel="stylesheet" href="{{ asset('CSS/bieres.css') }}" type="text/css" />


{% endblock %}


{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% block content %}


        <div class="container-fluid row bierebloc">

        </div>

        <!-- Liste des bières -->
        <div class="beertop">
            <h1 class="display-3 beeraccro">"Découvrez notre gamme de bière"</h1>
        </div>
        <div class="row bieres">
            {% for biere in bieres %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <img src="{{ asset('upload/' ~ biere.filename) }}" class="imgbieres" alt="" />
                        <h1 class="h1bieres"> {{ biere.nom }} </h1>

                        <!-- Debut fenetre modale -->
                        <div id="gridSystemModal{{ loop.index }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h2 class="modal-title" id="gridModalLabel">{{ biere.nom }}</h2>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid bd-example-row">
                                            <div class="row">
                                                <img src="{{ asset('upload/' ~ biere.filename) }}" class="photo-modal" alt="image de {{ biere.nom }}" />
                                                <p class="p-modal"> {{ biere.contenu }} </p>
                                            </div>
                                        </div>
                                    </div>

                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        <!-- fin fenetre modale -->

                        <!-- Bouton Modal En savoir plus -->
                        <div class="bd-example bd-example-padded-bottom">
                            <button type="button" class="btn btn-warning beerbtn" data-toggle="modal" data-target="#gridSystemModal{{ loop.index }}">
                                En savoir plus !
                            </button>
                        </div>
                        <!-- fin Bouton Modal En savoir plus -->
                </div>
            {% endfor %}
        </div>

    {% endblock %}



    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}