{% extends 'BrasserieBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('css/bieres.css') }}" type="text/css" />

{% endblock %}


{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% block content %}



        <!-- Liste des bières -->
        <div class="row">
            {% for biere in bieres %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="{{ asset('upload/' ~ biere.filename) }}" alt="" />
                        <h2> {{ biere.nom }} </h2>
                        <p> {{ biere.contenu }} </p>
                    </a>
                </div>

            {% endfor %}

        </div>

    {% endblock %}


{% endblock %}