{% extends 'BrasserieBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/brasserie.css') }}" type="text/css" />
{% endblock %}


{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}


    {% block content %}
    <div class="brasstop">
        <h1 class="display-3 brassaccro">"Micro-Brasserie Artisanale et Bio"</h1>
    </div>
    <div class="container">
        <div class="row">
         <div class="col-lg-12 brass">


             <h2 class="h2brass">La Micro-Brasserie</h2>
                 <p class="brasspara"><strong>La brasserie du Vauret</strong> est née en 2016, d’une passion portée par Cyril Bourassin. Chimiste de formation, il a brassé dans sa cuisine pendant 18 mois avant de se lancer dans l’aventure de la micro brasserie, d’acheter du matériel et d’installer son labo dans une annexe de son habitation.
                La capacité de  production est actuellement de 250L par lot. La plupart des taches est effectué manuellement, du brassage à l’étiquetage, en passant par embouteillage.</p>

             <h2 class="h2brass">Le process</h2>
                 <img class="img-responsive brassimgsch" src="{{ asset ('images/brasssch.png') }}" alt="Schema de fabrication">
                 <p class="brasspara">Un schéma vaut mieux qu’un grand discours !
                 Le brassage dure une dizaine d’heure, la fermentation et la garde au froid une dizaine de jours chacun. La refermentation en bouteille prend 15 jours , soit 5 semaines de patience pour 15min de dégustation !</p>

              <h2 class="h2brass">Nos valeurs</h2>
                <img class="img-responsive brassimgbio" src="{{ asset ('img/bio.jpg') }}" alt="Bières certifiées bio">
                <p class="brasspara3"><strong>Le bio par conviction !</strong>
                Toutes les matières premières utilisées sont bio.  La brasserie est certifiée par Certipaq.
                Le malt d’orge clair (80% du besoin) provient de la région Centre (Malterie d’Issoudun ou de Pithiviers), les malts torréfiés sont cultivé en France et malté en Belgique (pour le gout belge !) et les houblons proviennent d’Angleterre.<br/>
                <strong>Des bières qui ont du gout !</strong>
                Faites avec amour, non filtrées et non pasteurisées, elles gardent le gout des céréales et des houblons, le gout de la bière quoi !<br/>

                <strong>Des bières musicales !</strong>
                La musique est présente à chaque étape de fabrication, elle inspire les noms de bières, rythme le travail de brassage et agrémente la dégustation !<br/></p>
         </div>

      </div>

</div>
    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}