{% extends 'BrasserieBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/brasserie.css') }}" type="text/css" />
{% endblock %}


{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}


    {% block content %}

    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 brass">

        <img src="{{ asset('images/brasserie.jpg') }}" alt="" />

        <h1 class="h1brass">La Micro-Brasserie</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum molestias odio optio quaerat.<br>
            Aspernatur deleniti facere, harum illum in incidunt ipsam iste maiores praesentium quam rerum soluta ut voluptas.</p>

        <h1 class="h1brass">Le process</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum molestias odio optio quaerat.<br>
            Aspernatur deleniti facere, harum illum in incidunt ipsam iste maiores praesentium quam rerum soluta ut voluptas.</p>

        <h1 class="h1brass">Nos valeurs</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum molestias odio optio quaerat.<br>
            Aspernatur deleniti facere, harum illum in incidunt ipsam iste maiores praesentium quam rerum soluta ut voluptas.</p>
        </div>
    </div>
    </div>

    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}