{% extends 'BrasserieBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block head %}
    <meta name="keywords" content="bière, bio, orleans, brasserie, mardie, biere, mardié, biére, biologique, alcool, artisan, artisanal, visite" />
    <meta name="author" content="Brasserie du Vauret" />
    <meta name="title" content="Contacter la Brasserie du Vauret" />
    <meta name="description" content="Une question sur la micro-brasserie? Professionnels, vous souhaitez devenir distributeur de nos bières bio ? N'hésitez pas à poser une question à la Brasserie du Vauret." />
    <meta name="subject" content="bière, bio, orleans, brasserie, mardie, biere, mardié, biére, biologique, alcool, artisan, artisanal, visite" />
    {{ parent() }}
{% endblock %}


{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}


    {% block content %}
        <div class="ctcbloc">
            <h1 class="display-3 ctcaccro">"Une question ?"</h1>
        </div>
        <div class="container contactBloc">

            <h1 class="titre-contact">Pour plus d'informations, contactez la Brasserie du Vauret !</h1>
        {{ form_start(form, {'methode': 'POST'}) }}

            {{ form_widget(form) }}

            <div class= "col-lg-offset-11 col-md-offset-11 col-sm-offset-10 col-xs-offset-4 bouton-contact">
              <button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
            </div>
        {{ form_end(form) }}
        </div>

    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}

