{% extends 'BrasserieBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}


{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}


    {% block content %}
        <div class="container">

            <h1 class="titre-contact">Pour plus d'informations, contactez nous !</h1>
        {{ form_start(form, {'methode': 'POST'}) }}

            {{ form_widget(form) }}

            <div class= "col-lg-offset-11 col-md-offset-11 col-sm-offset-10 col-xs-offset-4 bouton-contact">
              <button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
            </div>
        {{ form_end(form) }}
        </div>

    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}

{# <!---Formulaire de contact------>
        <h2 class="contact">Contactez-nous !</h2>
        <form>

                            <label for="nom">Nom</label>
                            <input type="text" class="form-control" id="Nom" placeholder="Nom"> </div>
                        <div class="form-group">
                            <label for="prenom">Prénom</label>
                            <input type="Prenom" class="form-control" id="Prenom" placeholder="Prenom"> </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="email"> </div>
                        <div class="form-group">
                            <label for="telephone">Téléphone</label>
                            <input type="Telephone" class="form-control" id="Telephone" placeholder="telephone"> </div>
                    </div>
                    <!--textarea-->
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <div class="text-area">
                            <label for="text-area">Commentaire</label>
                            <textarea class="form-control" rows="9"></textarea>
                        </div>
                        <div class="bouton">
                            <button type="submit" class="btn btn-primary btn-lg ">Envoyer</button>
                        </div>
                    </div>
                    <!--fin textarea-->
                </div>
            </div>
        </form>
        <!---Fin Formulaire de contact------>#}