{% extends 'BrasserieBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}


{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}


    {% block content %}
        <div class="container contactBloc">

            <h1 class="titre-contact">Pour plus d'informations, contactez la Brasserie du Vauret !</h1>
        {{ form_start(form, {'methode': 'POST'}) }}

            {{ form_widget(form) }}

            <div class= "col-lg-offset-11 col-md-offset-11 col-sm-offset-10 col-xs-offset-4 bouton-contact">
              <button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
            </div>
        {{ form_end(form) }}
        </div>

    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}

