{% extends 'BrasserieBundle::layout.html.twig' %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% block content %}
        <link rel="stylesheet" type="text/css" href="{{ asset('CSS/content.css')}}">

        {% include "BrasserieBundle:Default:jumbo.html.twig" %}
        {% include "BrasserieBundle:Default:presentation.html.twig" %}

        <div class="container-fluid">
            <div class="row">
                <div class="heightfb">
                {% for une in index %}
                    <div class="col-lg-offset-1 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12">
                        <h2 class="unetitle"> {{ une.nom }} </h2>
                            <a href="#">
                        <img class="img-responsive imgune" src="{{ asset('upload/' ~ une.filename) }}" alt="{{ une.nom }}" />
                        </a>
                        <h2 class="unemoment">Bière du moment</h2>
                    </div>

                {% endfor %}


                <div class="col-lg-offset-2 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12">
                    <h2 class="titre_actu"> Suivez-nous !</h2>
                    <!--iframe debut-->
                    <div class="facebook">
                        <iframe class="fbifra" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbrasserieduvauret%2F&tabs=timeline&width=600&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"></iframe>
                        <!--iframe fin-->
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="inter_bloc2">
            <h1 class="slogan2">"Les bières sont non filtrées,<br/>non pasteurisées et refermentées en bouteille"</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
        {% include "BrasserieBundle:Default:map.html.twig" %}
        </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="inter_bloc3">
            <h1 class="slogan2">"Nous produisons des bières bio en flux détendu"</h1>
                </div>
            </div>
        </div>
        <!------Bouton ascenceur-----
        <div class="container">

                <a href="#" title="Haut de page" class="scrollup"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
        </div>
        ------fin bouton----------->

    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}


    <div class="up">
       <script>
               ScrollToTop=function() {
               var s = $(window).scrollTop();
               if (s > 4800) {
                   $('.scrollup').fadeIn();
               } else {
                   $('.scrollup').fadeOut();
               }

               $('.scrollup').click(function () {
                   $("html, body").animate({ scrollTop: 0 }, 500);
                   return false;
               });
           }

           StopAnimation=function() {
               $("html, body").bind("scroll mousedown DOMMouseScroll mousewheel keyup", function(){
                   $('html, body').stop();
               });
           }


           $(window).scroll(function() {
               ScrollToTop();
               StopAnimation();
           });
       </script>

    </div>

{% endblock %}